body{
  display: flex;
  margin: auto;
  width: 60%;
  justify-content: center;
  background-color: #DC136C;
  color: ghostwhite;
  font-family: monospace;
  font-size: 16px;
}

#chia{
  width: 50%;
  border-radius: 70px;
}

@font-face {
  font-family: "ivypresto-display", serif;
  font-weight: 300;
  font-style: normal;
  src: url(https://use.typekit.net/zvt0bqe.css);
}

@font-face {
  font-family: "forma-djr-banner", sans-serif;
  font-weight: 300;
  font-style: normal;
  src: url(https://use.typekit.net/zvt0bqe.css);
}

h1{
  font-family: ivypresto-display;
  color: ghostwhite;
  text-align: center;
  font-size: 200px;
  line-height: 175px;
  flex-wrap: wrap;
  justify-content: center;
}

#pic1{
  position: absolute;
  top: 100px;
  left: 50px;
}

#pic2{
  position: absolute;
  top: 150px;
  left: 1050px;
} 

#pic3{
  position: absolute;
  top: 200px;
  left: 150px;
}

#head{
  position: absolute;
  top: 325px;
  left: 700px;
}

.title{
  font-family: ivypresto-display;
  font-size: 48px;
  position: absolute;
  left: 10px;
  transform: rotate(-90deg);
  flex-wrap: wrap;
  overflow-y: hidden;
}

footer{
  justify-content: center;
  align-items: center;
  font-family: forma-djr-banner;
  color: white;
}

.topnav {
  background-color: #DC136C;
  justify-content: center;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: white;
    font-family: forma-djr-banner;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18Spx;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #00ad38;
  }