body{
    display: flex;
    background-color: #DC136C;
  }

@font-face {
  font-family: "megazoid", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url(https://use.typekit.net/zvt0bqe.css);
}

@font-face {
  font-family: "forma-djr-banner", sans-serif;
  font-weight: 300;
  font-style: normal;
  src: url(https://use.typekit.net/zvt0bqe.css);
}

h1{
  font-family: megazoid;
  color: ghostwhite;
  font-size: 200px;
  flex-wrap: wrap;
  text-align: center;
}

footer{
  justify-content: center;
  align-items: flex-end;
  font-family: forma-djr-banner;
  color: white;
}

.topnav {
  background-color: #DC136C;
  justify-content: space-between;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: white;
    font-family: forma-djr-banner;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #00ad38;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #8F0D47;
  }